.profile_wrapper {
  margin-top: 6rem;
}
.profile-picture img {
  border-radius: 50%;
}
.profile-description {
  margin-top: 2rem;
}
.btn-edit {
  border: 1px solid #007bff;
}
.btn-edit:hover {
  background-color: #bdddff;
  border: 1px solid #bdddff;
  color: #007bff;
}
.profile-picture img {
  margin-right: 2.5rem;
  margin-bottom: 1.6rem;
  margin-top: 1.6rem;
}
