.post {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 78px;
}
.card-header {
  padding: 0.75rem 0.25rem;
}
.card-header .dropdown .dropdown-menu {
  margin-left: 2rem;
}
.card-header img {
  width: 25px;
  border-radius: 50%;
  margin-right: 0.5rem;
}
.card-header .user {
  margin-left: 1rem;
}
.dropdown-menu {
  min-width: 8rem;
}
.dropdown-toggle::after {
  display: none;
}
.card-header,
.card-footer {
  border: none;
  background: none;
}
.card-img-top {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
}
.d-flex .btn {
  padding: 0;
}
.d-flex .btn {
  margin-right: 1rem;
}
.btn:focus {
  box-shadow: none;
}
.post-btn {
  border: 1px solid white;
  background: transparent;
  width: 100%;
  color: inherit;
}
.post-btn:hover {
  color: inherit;
}
.post-btn .like {
  width: 1.5rem;
  transition: all 0.15s ease-in;
}
.post-btn img {
  width: 1.2rem;
  margin-right: 0.6rem;
}
.comment-form {
  width: 500px;
}
.comment-form .input-group {
  margin: 10px 0;
}
.input-group .input-group-append {
  width: 60px;
}
.input-group-append .btn.btn-primary {
  width: 60px;
}
.icon-custom {
  margin-left: 100%;
}
.postcard {
  width: 70%;
  margin: auto;
}
.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1) !important;
}
.popup-content {
  padding: 12px;
  border-radius: 4px;
}
.list-group-item + .list-group-item {
  border-top-width: 1px;
}
div.profile-post div div h6 div.dropdown.dropleft div a:hover {
  text-decoration: none;
}
/* .liked {
  position: relative;
}
.liked::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url(./assets/like.svg);
  width: 20%;
  box-shadow: 0 0 2rem #000;
  z-index: 15;
} */

/* Extra small devices (portrait phones, less than 576px) */
@media (min-width: 360px) and (max-width: 575px) {
  .postcard {
    width: 100% !important;
  }
  .popup-content {
    width: 90% !important;
    padding: 12px !important;
  }
  .post-btn .like {
    width: 1.2rem;
  }
  .post-btn img {
    width: 1rem;
    margin-right: 0.5rem;
  }
  .d-flex .btn.post-btn {
    margin-left: auto;
    margin-right: auto;
  }
  .post-btn {
    width: auto;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .postcard {
    width: 100% !important;
  }
  .popup-content {
    width: 90% !important;
    padding: 12px !important;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .postcard {
    width: 90% !important;
  }
  .popup-content {
    width: 80% !important;
    padding: 12px !important;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .postcard {
    width: 90% !important;
  }
  .popup-content {
    width: 80% !important;
    padding: 12px !important;
  }
}
